@mixin font-style($type) {
    @if $type == 1{
        font-family: 'Museo Sans Cyrl 300';
        font-weight: 300;
    }
    @else if $type == 2{
        font-family: 'Museo Sans Cyrl';
        font-weight: 500;
    }
    @else if $type == 3{
        font-family: 'Museo Sans Cyrl 700';
        font-weight: 700;
    }
    @else if $type == 4{
        font-family: 'Museo Sans Cyrl';
        font-weight: 900;
    }
}