.checkbox{
    $this: &;

    &__control {
        display: none;
    }
    &__label {
        cursor: pointer;
        display: block;
        position: relative;
        padding-left: 30px;
        &:before {
            content: "";
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid $color-lightgray;
            border-radius: 3px;
            position: absolute;
            top: 4px;
            left: 0;
            
        }
        &:after {
            content: "";
            display: inline-block;
            height: 7px;
            width: 7px;
            border-left: 2px solid $color-yellow;
            border-bottom: 2px solid $color-yellow;
            transform: rotate(-45deg);
            position: absolute;
            left: 4px;
            top: 7px;
            opacity: 0;
            transition: .3s;
            
        }
    }
    &__control:checked + .checkbox__label::after {
        opacity: 1;
    }
    &__title {
        @include font-style(500);
        font-size: 10px;
        line-height: 12px;
        &_red {
            padding-left: 3px;
            color: $color-pink  
        }
    }
    &__subtitle{
        display: block;
        padding-top: 11px;
        @include font-style(300);
        font-size: 10px;
        line-height: 12px;
        color: $color-gray; 
    }
    &_big{
        width: 60px;
        #{$this}__label{
            padding-left: 0;
            padding-bottom: 49px;
            display: flex;
            justify-content: center;
            &:before {
                height: 40px;
                width: 40px;
                bottom: 0;
                top: unset;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                
            }
            &:after {
                height: 13px;
                width: 13px;
                left: 0;
                right: 0;
                top: unset;
                border-left: 3px solid $color-yellow;
                border-bottom: 3px solid $color-yellow;
                margin-left: auto;
                margin-right: auto;
                bottom: 17px;
                opacity: 0;
                transition: .3s;
                
            }
        }
        #{$this}__title {
            @include font-style(700);
            text-align: center;
            display: flex;
            height: 12px;
            align-items: flex-end;
            &_red {
                padding-left: 3px;
                color: $color-pink  
            }
        }
    }
  
}