mixin input
    .input
        if block
            span.input__title
                block
        if attributes.required
            span.input__title.input__title_red *
        input.input__control(type = attributes.type, name = attributes.name, class = attributes.class, placeholder = attributes.placeholder, required = attributes.required)
