mixin input
    .input
        if block
            span.input__title
            block
        if attributes.required
            span *
        input.input__control(name = attributes.name, class = attributes.class, required = attributes.required)
