mixin button
  if attributes.type == 'submit'
    button.button(type = attributes.type, class = attributes.class)
      if block
        block
      else
        |кнопка
  else
     a.button(href = attributes.href type = attributes.type, class = attributes.class)
      if block
        block
      else
        |кнопка