.form {
    padding-top: 8px;
    padding-bottom: 108px;
    @include lg-block{
        padding-bottom: 164px;
    }
    &__title {
        text-align: left !important;
        padding-bottom: 27px;
        @include sm-block{
            text-align: center !important;
            padding-bottom: 71px;
        }
        @include lg-block{
           
        }
    }
    &__row {
        @include row-flex();
    }
    &__col {
        @include col();
        @include size(12);
        @include md-block{
           @include size(6);
        }
    }
    &__subtitle {
        padding-bottom: 26px;
    }
    &__checkbox-group {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        @include lg-block{
        padding-right: 60px;
        }
        padding-bottom: 35px;
    }
    &__checkbox {
        padding-bottom: 23px;
        @include md-block{
            padding-bottom: 35px;
        }
       
    }
    &__remark {
        padding-left: 30px;
        padding-bottom: 40px;
        @include font-style(300);
        font-size: 10px;
        line-height: 12px;
        color: $color-gray;
        span{
            color: $color-pink;
        }
    }
}