mixin card-item
    .card-item
        .card-item__header
            .card-item__img
                img(src="", alt="")
            .card-item__price
                span
        .card-item__bottom
            .card-item__country
                span
            .card-item__name
                span
            .card-item__path
                span
            .card-item__duration
                span
            .card-item__date
                span
            .card-item__action
                span