extends layouts/default
include helpers/mixins
include ../blocks/components/header/header
include ../blocks/components/card-list/card-list
include ../blocks/components/form/form
block variables
	- const title = "yudin-test-voxweb"

block content
	+header
	.container
		+card-list
		+form
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")