mixin select(values)
    .select
        each val, index in values
            if val.items
                .select__group
                    a(href="javascript:void(0);").select__show #{val.title}
                    .select__list
                        each item, index_item in val.items
                            input(type='checkbox' id="select" + index + index_item).select__control
                            label(for="select" + index + index_item ).select__item #{item.title}
                        a(href="javascript:void(0);").select__all все туры на континенте
            else
                input(type='checkbox' id="select" + index).select__control
                label(for="select" + index).select__item #{val.title}