include ../button/button
include ../menu/menu
include ../accordion/accordion
mixin header
    .header
        .header__body
            button.header__menu-btn
                span
                span
                span
        .header__curtain
             .header__curtain-container
                .header__accordions
                    +accordion(title="Страны")
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                    +accordion(title="Страны")
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff