include ../button/button
include ../menu/menu
include ../accordion/accordion
include ../select/select
mixin header
    .header
        .header__body
            button.header__menu-btn
                span
                span
                span
        .header__curtain
             .header__curtain-container
                form.header__filters
                    +accordion(title="Страны").header__accordion
                        +select
                    +accordion(title="Даты").header__accordion
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                    +accordion(title="Тип путешествия").header__accordion
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff
                        div fgfg fgfffff ffff