h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}

*{
    scrollbar-color: #C4C4C4 rgba(255,255,255,0);
    scrollbar-width: thin;
    &::-webkit-scrollbar { width: 5px; height: 5px;}
    &::-webkit-scrollbar-button {  display: none; }
    &::-webkit-scrollbar-track { background-color: transparent;}
    &::-webkit-scrollbar-track-piece { background-color: transparent;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: #C4C4C4; border-radius: 3px;}
    &::-webkit-scrollbar-corner { background-color: #C4C4C4;}
    &::-webkit-resizer { background-color: #C4C4C4;}
}

body{
    @include font-style(700);
}

.container {
    @include container();
    @include xs(max-width, 21.25rem);
    @include sm(max-width, 30.45rem);
    @include md(max-width, 39.6rem);
    @include lg(max-width, 50rem);
}
a{
    text-decoration: none;
}
.overflow-hidden{
    overflow: hidden;
}